@import "tailwindcss";
@import "./themes.css";

body,
html {
    background-color: var(--color-bg-main);
    transition: background-color 0.3s ease-out 0s, color 0.3s ease-out 0s;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #f59e0b;
    border-radius: 20px;
    border: 2px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #d97706;
}