:root {
    /* Brand Colors */
    --color-primary: #0E43BE;
    --color-primary-hover: #0B3599;
    --color-on-primary: #FFFFFF;

    --color-secondary: #FFCB00;
    --color-secondary-hover: #E6B600;
    --color-on-secondary: #191C1F;

    /* Status Colors */
    --color-sale: #E52E2E;
    --color-sale-hover: #C92424;
    --color-success: #40B44A;
    --color-stars: #FFA800;

    /* Neutrals (Text & Backgrounds) */
    --color-text-main: #191C1F;
    --color-text-main-hover: #0E43BE;
    /* Dark charcoal for high readability */
    --color-text-muted: #5F6C72;
    --color-text-muted-hover: #191C1F;
    /* Cool gray for secondary details */
    --color-bg-main: #FFFFFF;
    /* Pure white for page & cards */
    --color-bg-secondary: #F2F4F5;
    /* Very light gray for section blocks */

    --color-border: #E4E7E9;
    --color-border-hover: #A3AED0;

    --cart-bg: #F59E0B;
    --cart-hover: #D97706;
    --cart-text: #0F172A;

    --buy-bg: #0F172A;
    --buy-hover: #334155;
    --buy-text: #FFFFFF;

    --color-shadow: rgba(25, 28, 31, 0.16);
    --color-shadow-md: rgba(25, 28, 31, 0.24);

    --glassy-shimmer: linear-gradient(90deg,
            rgba(242, 244, 245, 0) 10%,
            rgba(255, 255, 255, 0.9) 50%,
            rgba(242, 244, 245, 0) 90%);
}

[data-theme="dark"] {
    /* Brand Colors (Dark Mode)*/
    --color-primary: #1A5CFF;
    --color-primary-hover: #0E43BE;
    --color-on-primary: #FFFFFF;

    --color-secondary: #FFCB00;
    --color-secondary-hover: #E6B600;
    --color-on-secondary: #191C1F;

    /* Status Colors (Dark Mode)*/
    --color-sale: #FF4D4D;
    --color-sale-hover: #E52E2E;
    --color-success: #46D352;
    --color-stars: #FFB81A;

    /* Neutrals (Dark Mode) */
    --color-text-main: #F3F4F6;
    --color-text-main-hover: #1A5CFF;
    --color-text-muted: #9AA6AC;
    --color-text-muted-hover: #F3F4F6;
    --color-bg-main: #0F172A;
    --color-bg-secondary: #1E293B;

    /* Borders & Inputs (Dark Mode)*/
    --color-border: #334155;
    --color-border-hover: #475569;

    --cart-bg: #F59E0B;
    --cart-hover: #D97706;
    --cart-text: #0F172A;

    --buy-bg: #1E293B;
    --buy-hover: #334155;
    --buy-text: #FFFFFF;

    --color-shadow: rgba(0, 0, 0, 0.65);
    --color-shadow-md: rgba(0, 0, 0, 0.85);

    --glassy-shimmer: linear-gradient(90deg, rgba(30, 41, 59, 0) 0%, rgba(26, 92, 255, 0.15) 50%, rgba(30, 41, 59, 0) 100%);
}

@utility my-fade-in {
    animation: fade-in 1s ease-in;
    animation-timeline: view();
    animation-range: entry 0% entry 100%;
    animation-fill-mode: both;
}

@theme inline {
    /* Brand Colors */
    --color-primary: var(--color-primary);
    --color-primary-hover: var(--color-primary-hover);
    --color-on-primary: var(--color-on-primary);

    --color-secondary: var(--color-secondary);
    --color-secondary-hover: var(--color-secondary-hover);
    --color-on-secondary: var(--color-on-secondary);

    /* Status Colors */
    --color-sale: var(--color-sale);
    --color-sale-hover: var(--color-sale-hover);
    --color-success: var(--color-success);
    --color-stars: var(--color-stars);

    /* Neutrals (Text & Backgrounds) */
    --color-text-main: var(--color-text-main);
    --color-text-main-hover: var(--color-text-main-hover);
    /* Dark charcoal for high readability */
    --color-text-muted: var(--color-text-muted);
    --color-text-muted-hover: var(--color-text-muted-hover);
    /* Cool gray for secondary details */
    --color-bg-main: var(--color-bg-main);
    /* Pure white for page & cards */
    --color-bg-secondary: var(--color-bg-secondary);

    /* Borders & Inputs */
    --color-border: var(--color-border);
    --color-border-hover: var(--color-border-hover);

    --color-cart-bg: var(--cart-bg);
    --color-cart-hover: var(--cart-hover);
    --color-cart-text: var(--cart-text);

    --color-buy-bg: var(--buy-bg);
    --color-buy-hover: var(--buy-hover);
    --color-buy-text: var(--buy-text);

    --color-shadow: var(--color-shadow);
    --color-shadow-md: var(--color-shadow-md);

    --color-glassy-shimmer: var(--glassy-shimmer);

    --animate-loop-left: loop-left 8s linear 0s infinite;
    --animate-come-from-top: come-from-top 0.5s ease-out 0s forwards;
    --animate-come-from-bottom: come-from-bottom 0.5s ease-out 0s forwards;
    --animate-come-from-left: come-from-left 0.5s ease-out 0s forwards;
    --animate-come-from-right: come-from-right 0.5s ease-out 0s forwards;
    --animate-grow: grow 0.5s ease-out 0s forwards;
    --animate-glassy-shimmer: glassy-shimmer 2s linear 0s infinite;

    @keyframes loop-left {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(-25%);
        }
    }

    @keyframes come-from-top {
        from {
            transform: translateY(-200px);
        }

        to {
            transform: translateY(0px);
        }
    }

    @keyframes come-from-bottom {
        from {
            transform: translateY(200px);
        }

        to {
            transform: translateY(0px);
        }
    }

    @keyframes come-from-left {
        from {
            transform: translateX(-200px);
        }

        to {
            transform: translateX(0px);
        }
    }

    @keyframes come-from-right {
        from {
            transform: translateX(200px);
        }

        to {
            transform: translateX(0px);
        }
    }

    @keyframes grow {
        from {
            transform: scale(0.5);
        }

        to {
            transform: scale(1);
        }
    }

    @keyframes fade-in {
        from {
            opacity: 0;
            transform: translateX(-200px);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes glassy-shimmer {
        from {
            transform: translateX(-100%);
        }

        to {
            transform: translateX(100%);
        }
    }
}